@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    padding: 39px 21px;

    .logo {
        max-width: 270px;
        width: 100%;
    }
}

section.banner {
    border-radius: 46px;
    background: $primary imgUrl('van.png') left center;
    padding: 123px 0 160px;
    color: $white;
    position: relative;
    overflow: hidden;

    .banner_guys {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}

section.services {
    padding: 133px 0 85px;

    .service_card {
        background: $white;
        border: 1.33333px solid $light;
        border-radius: 15px;
        padding: 25px 24px;
        height: 100%;

        img {
            border-radius: 15px;
            height: 248px;
            width: 100%;
            object-fit: cover;
        }
    }
}

section.customers {
    .cta {
        .card-body:before {
            content: '';
            position: absolute;
            left: 5px;
            height: 100%;
            top: 0;
            width: 10px;
            transform: skew(347deg);
            background: $secondary;
        }

        span.position-relative {
            &:before {
                content: '';
                position: absolute;
                left: -10px;
                height: 100%;
                top: 0;
                width: 10px;
                background: linear-gradient(to left top, $primary 50%, transparent 50%);
            }

            &:after {
                content: '';
                position: absolute;
                right: -10px;
                height: 100%;
                top: 0;
                width: 10px;
                background: linear-gradient(to right bottom, $primary 50%, transparent 50%);
            }
        }
    }

    .reviews {
        .review {
            &:before {
                content: '';
                height: 100%;
                width: 100%;
                transform: skew(347deg);
                position: absolute;
                left: -37%;
            }

            &.left:before {
                background-color: $primary;
            }

            &.right:before {
                background-color: $secondary;
            }
        }
    }

    .crow {
        height: 52rem;
    }
}

section.testimonials {
    margin-top: -24rem;
    margin-bottom: 166px;
    
    .slick-slide {
        .card-o {
            min-height: 480px;

            .badge {
                width: 40px;
                height: 40px;
                line-height: 1.2;
            }
        }
    }
}

section.deals {
    background: $secondary;
    border-radius: 46px;
    color: $white;
    padding: 150px 0 206px;

    .deals_card {
        border: 4px dashed #FFFFFF;
        border-radius: 15px;
        padding: 13px;
        height: 100%;

        .card_inner {
            background: $primary imgUrl('peeper.png') right center;
            background-size: contain;
            border-radius: 15px;
            height: 100%;
            display: flex;
            flex-direction: column;

            .top {
                flex-grow: 1;
            }
        }
    }
}

section.brands {
    padding: 146px 0 96px;

    .brands_card {
        padding: 18px 32px 60px;
        background: $white;
        border: 1px solid $light;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
        font-family: $font-roboto;
    }
}

footer {
    border-radius: 46px;
    background-color: $primary;
    color: $white;
    margin-bottom: 57px;

    .logo {
        max-width: 270px;
    }

    .btn {
        height: 91px;
    }

    .accreditation {
        background: rgba(36, 36, 41, 0.26);
        padding: 32px 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}